html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: sans-serif;
    background-color: rgb(0, 130, 0);
    color: rgba(245, 245, 245);
}


/* Navigation */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7%;
    background-color: rgb(0, 157, 0);
    position: fixed;
    border-bottom: 1px solid white;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.nav .header {
    font-size: 1.2rem;
    font-style: italic;
    text-transform: uppercase;
    color: black;
}

.nav .menu {
    display: flex;
    list-style: none;
}

.nav .menu a {
    color: black;
    padding: 6px 12px;
    align-items: center;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 10px;
}

.nav .menu a:hover {
    background-color: black;
    color: white;
    transition: all 0.7;
}

.nav .menu-list a {
    color: black;
    padding: 0 5px;
    text-transform: uppercase;
}

.nav .menu-list a:hover {
    color: white;
    transition: all 0.9s;
}

#menu {
    display: none;
}


/* close Navigation */


/* Hero section start */

.hero {
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero::after {
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient( 0deg, rgba(0, 130, 0, 1) 8%, rgba(255, 255, 255, 0) 50%);
}

.hero .contain {
    font-size: 1rem;
    margin: auto 10%;
    background-color: rgba(0, 0, 0, 0.506);
    padding: 20px 10px 40px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.hero .contain .judul {
    font-size: 3.5rem;
    font-weight: 500 bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    /* line-height: 1.2; */
}

.hero .contain p {
    font-size: 1.3vw;
    font-weight: 200;
    margin-bottom: 30px;
    letter-spacing: 1px;
    font-weight: 300;
}

.hero .contain a {
    font-size: 20px;
    color: white;
    background-color: rgba(245, 222, 179, 0.454);
    padding: 10px 25px;
    border-radius: 10px;
    transition: all 0.5s ease;
    /* z-index: 3; */
}

.hero .contain a:hover {
    color: white;
    background-color: black;
    border: 1px solid white;
    transform: translateX(10px);
}


/* Hero section end */


/* About Section start */

.about,
.menu-kelapa,
.contact {
    padding: 6rem 7% 1.4rem;
}

.title-header {
    font-size: 2rem;
}

.title-header:hover {
    text-decoration: 2px underline gray;
    text-underline-offset: 1rem;
}

.about h2,
.menu-kelapa h2,
.contact h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
    /* border-bottom: 0.2px solid rgba(255, 255, 255, 0.615); */
}

.about .row {
    display: flex;
    justify-content: space-between;
}

.about .about-img {
    flex: 1 1 45rem;
}

.about .about-img img {
    width: 100%;
    height: 80%;
    border-radius: 10px;
    background-position: center;
}

.about .content-kami {
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.about .content-kami h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about .content-kami p {
    line-height: 1.6;
    font-size: 16px;
}


/* About Section end */


/* menu section start  */

.menu-kelapa h2,
.contact h2 {
    margin-bottom: 1rem;
}

.menu-kelapa p,
.contact p {
    text-align: center;
    max-width: 40rem;
    margin: auto;
    font-size: 16px;
    line-height: 1.6;
}

.menu-kelapa .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 6rem;
    gap: 10px;
}

.menu-kelapa .row .row-kartu {
    text-align: center;
    margin-bottom: 2rem;
}

.menu-kelapa .row .row-kartu img {
    /* border-radius: 15px; */
    /* width: 511px;
    height: 283px; */
    width: 100%;
    height: 80%;
    border-radius: 10px;
    object-fit: cover;
}

.menu-kelapa .row .row-kartu h3 {
    font-size: 23px;
    margin: 0.5rem auto;
}


/* menu section end  */


/* contact start */

.contact .row-maps {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    background-color: rgba(255, 255, 255, 0.333);
}

.contact .row-maps .map {
    flex: 1 1 45rem;
    width: 100%;
    border-radius: 5px;
}

.contact .row-maps form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}


/* .contact form  {
  align-items: center;
} */

.contact form h2 {
    padding-top: -10px;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.815);
}

.contact form .input-group input {
    width: 100%;
    height: 50px;
    border-radius: 15px;
    margin: 15px 10px;
    border: 1px solid rgba(0, 0, 0, 0.502);
    outline: none;
    padding: 20px;
}

.contact form .btn {
    font-size: 1rem;
    padding: 6px 14px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.contact form .btn:hover {
    background-color: rgb(0, 174, 0);
}


/* Footer Start */

footer {
    background-color: rgb(0, 174, 0);
    text-align: center;
    padding: 1rem 0 2rem;
    margin-top: 3rem;
    border-top: 1px solid rgb(201, 201, 201);
}

footer .sosial {
    padding: 1rem 0;
}

footer .sosial a {
    margin: 1rem;
    color: rgb(219, 219, 219);
}

footer .sosial a:hover,
footer .link a:hover {
    color: black;
}

footer .link a {
    padding: 0.7rem 1rem;
    color: white;
    /* word-spacing: 1rem; */
}

footer .copyright {
    margin-top: 1rem;
    font-size: 0.8rem;
    padding-bottom: 2rem;
}

footer .copyright p {
    color: black;
}


/* Footer End */


/* contact end */


/* Responsif */


/* Laptop */

@media (max-width: 1200px) {
    html {
        font-size: 80%;
    }
    .hero .contain p {
        font-size: 18px;
    }
}


/* Tablet */

@media (max-width: 800px) {
    html {
        font-size: 65%;
    }
    #menu {
        display: inline-block;
    }
    .nav .menu {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: rgb(253, 239, 214);
        width: 30rem;
        height: 100vh;
        transition: all 0.5s;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav .menu a {
        background-color: rgb(0, 157, 0);
        margin: 1.5rem;
        padding: 8px;
        font-size: 1.5rem;
    }
    .nav .menu a:hover {
        color: white;
    }
    .nav .menu.active {
        right: 0;
    }
    .about .row {
        flex-wrap: wrap;
    }
    .about h2,
    .menu-kelapa h2 {
        font-size: 25px;
    }
    .about .content-kami {
        padding: 0;
        margin-top: -45px;
    }
    .contact .row-maps {
        flex-wrap: wrap;
    }
    .contact .row-maps .map {
        height: 30rem;
    }
    .contact .row-maps form {
        padding-top: 10px;
    }
    footer .link {
        font-size: 1.5rem;
    }
    footer .copyright p {
        font-size: 1.2rem;
    }
}


/* Mobile Phone */

@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
    .hero .contain {
        margin: auto 5%;
    }
    .about h2,
    .menu-kelapa h2 {
        font-size: 25px;
    }
    .about .content-kami {
        padding: 0;
        margin-top: -20px;
    }
    .about .content-kami h3 {
        font-size: 25px;
    }
}